@model IEnumerable<Proyecto_Graduacion.Models.Auditoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInstitucionNavigation.IdInstitucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation.IdUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInstitucionNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAuditoria">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAuditoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
