@model IEnumerable<Proyecto_Graduacion.Models.Papele>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoPapeles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaDoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPapeles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    <button class="btn btn-primary" onclick="window.open('https://localhost:7257/Docs/@item.RutaDoc','_blank');">Ver Documento</button>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPapeles">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPapeles">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
